# technical folders
src/__pycache__/
GitLab-cmd-Script.md
.hypothesis

# data folders
src/spacy_models/*
src/hf_models/*

# credentials-like
src/hf_root.crt
src/apikey.json

# exception to make dir structure obvious
!data/.gitkeep
!src/spacy_models/.gitkeep
!src/hf_models/.gitkeep
!reports/.gitkeep